services:
  - type: web
    name: maxelo-business-system
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: DATABASE_URL
        value: postgresql://messages_g42c_user:Kzfzpx4I9jGQ7JGL5HPVcTuoXEAd2GC4@dpg-d48q7ua4d50c738ucjfg-a.oregon-postgres.render.com/messages_g42c
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.0